appdirs==1.4.3
autograd==1.3
cycler==0.10.0
geomstats==1.16
matplotlib==3.2.0
nibabel==3.0.2
numpy==1.18.1
opencv-python==4.2.0.32
Pillow==7.0.0
pydicom==1.2.0
pyparsing==2.4.6
python-dateutil==2.8.1
pytools==2018.5.2
scipy==1.4.1
torch==1.3.0
torchgeometry==0.1.2
torchvision==0.4.0
tqdm==4.43.0
